.footer {
  width: 100%;
  padding: 47px;
  background: black;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    position: relative;
  }

  &__logo {
    margin-bottom: 54px;
    width: 180px;
    height: 115px;
  }

  &__phone-number {
    position: absolute;
    right: -1px;
    top: 48px;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;

    &::before {
      position: absolute;
      content: "";
      width: 24px;
      height: 24px;
      background-image: url("../images/icons/tel.svg");
      background-size: contain;
      background-repeat: no-repeat;
      fill: white;
      left: -35px;
      top: -2px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      border-radius: 4px;
      background-color: white;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }

    &:hover::after {
      transform-origin: left;
      transform: scaleX(1);
    }
  }

  &__navigation {
    width: 100%;
    display: flex;
    margin-bottom: 21px;

    .footer-menu {
      display: flex;

      .menu-item-has-children {
        position: relative;
        flex-shrink: 0;
      }

      .menu-item-has-children > a {
        font-family: "Manrope", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        color: #ffffff;
        display: block;
        margin-bottom: 14px;
      }

      .menu-item-has-children:nth-child(1) {
        width: 200px;
        margin-right: 60px;

        &::after {
          position: absolute;
          content: "";
          height: 71px;
          width: 1px;
          background-color: white;
          right: -16px;
          top: 34px;
        }
      }

      .menu-item-has-children:nth-child(2) {
        width: 296px;
        margin-right: 44px;

        &::after {
          position: absolute;
          content: "";
          height: 71px;
          width: 1px;
          background-color: white;
          right: 0;
          top: 34px;
        }
      }

      .menu-item-has-children:nth-child(3) {
        width: 296px;
        margin-right: 48px;

        &::after {
          position: absolute;
          content: "";
          height: 71px;
          width: 1px;
          background-color: white;
          right: -4px;
          top: 34px;
        }
      }

      .sub-menu {
        column-count: 2;
        column-gap: 0;
        width: 100%;

        li {
          line-height: 20px;
          margin-bottom: 8px;
          padding-right: 20px;

          a {
            font-family: "Manrope", sans-serif;
            font-weight: 300;
            font-size: 15px;
            line-height: 19px;
            color: #808080;
            transition: all 0.3s ease-in-out;

            &:hover {
              color: white !important;
            }
          }
        }
      }
    }
  }

  &__mail {
    max-width: 336px;
    width: 100%;

    h4 {
      font-family: "Manrope", sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.3em;
      text-transform: uppercase;
      color: #ffffff;
      margin-bottom: 20px;
    }

    form {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        background-image: url("../images/icons/mail.svg");
        width: 24px;
        height: 22px;
        background-size: contain;
        background-repeat: no-repeat;
        top: 19px;
        right: 17px;
      }
    }

    input {
      width: 100%;
      display: block;
      height: 60px;
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid #808080;
      border-radius: 3px;
      position: relative;
      font-family: "Manrope", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #808080;
      padding: 16px 23px 0;
    }

    label {
      position: absolute;
      top: 11px;
      left: 24px;
      font-family: "Manrope", sans-serif;
      font-weight: 600;
      font-size: 10px;
      line-height: 14px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #ffffff;
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      width: 18%;
      height: 100%;
      background: none;
      border: none;
      z-index: 10;
    }
  }

  &__bottom-block {
    width: 100%;
    display: flex;
    justify-content: space-between;

    a,
    p {
      font-family: "Manrope", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 13px;
      line-height: 25px;
      color: #808080;
      text-align: center;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: white !important;
      }
    }
  }
}

@media only screen and (max-width: 1320px) {
  .footer {
    &__logo {
      margin-bottom: 50px;
    }

    &__phone-number {
      position: relative;
      top: auto;
      right: auto;
      margin-bottom: 63px;
    }

    &__navigation {
      margin-bottom: 40px;
      flex-direction: column;
      align-items: center;

      .footer-menu {
        justify-content: space-between;
        margin-bottom: 40px;
        width: 100%;

        .menu-item-has-children:nth-child(1),
        .menu-item-has-children:nth-child(2),
        .menu-item-has-children:nth-child(3) {
          margin-right: 0;

          &::after {
            content: none;
          }
        }
      }
    }

    &__mail {
      h4 {
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .footer {
    padding: 41px 30px 17px;

    &__logo {
      margin-bottom: 110px;
      width: 184px;
      height: 119px;
    }

    &__phone-number {
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 75px;
      padding-left: 50px;

      &::after {
        background-color: transparent;
      }

      &::before {
        width: 30px;
        height: 30px;
        left: 6px;
        top: -3px;
      }
    }

    &__navigation {
      margin-bottom: 45px;

      .footer-menu {
        flex-direction: column;
        width: 100%;
        margin-bottom: 0;

        .menu-item-has-children {
          margin-bottom: 23px;
        }

        .menu-item-has-children:nth-child(1),
        .menu-item-has-children:nth-child(2),
        .menu-item-has-children:nth-child(3) {
          width: 100%;
        }

        .menu-item-has-children > a {
          font-size: 17px;
          line-height: 23px;
          letter-spacing: 0.3em;
          position: relative;
          margin-bottom: 0;
          padding-bottom: 24px;
          transition: all 0.3s ease;

          &::after {
            content: "+";
            position: absolute;
            top: -14px;
            right: -3px;
            font-family: "Manrope", sans-serif;
            font-weight: 200;
            font-size: 35px;
            line-height: 48px;
            text-transform: uppercase;
            color: #ffffff;
          }
        }

        .sub-menu {
          gap: 9px 0;
          padding: 0 21px;
          border-bottom: 1px solid #808080;
          height: auto;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.2s ease-out;
          display: flex;
          flex-flow: column nowrap;

          li {
            margin-bottom: 0;
            padding-right: 0;

            a {
              font-size: 18px;
              line-height: 30px;
            }
          }
        }

        .menu-item-has-children.active {
          & > a {
            padding-bottom: 20px;

            &::after {
              content: "-";
              position: absolute;
              top: -11px;
              right: 4px;
              font-family: "Manrope", sans-serif;
              font-weight: 200;
              font-size: 35px;
              line-height: 48px;
              text-transform: uppercase;
              color: #ffffff;
            }
          }

          .sub-menu {
            padding: 0 21px 31px;
          }
        }
      }
    }

    &__mail {
      h4 {
        font-size: 17px;
        line-height: 23px;
        letter-spacing: 0.3em;
        text-align: left;
        margin-bottom: 17px;
      }
    }

    &__bottom-block {
      flex-direction: column;
      gap: 5px;
      align-items: center;

      a,
      p {
        font-size: 15px;
        line-height: 25px;
      }
    }
  }
}
